# =============================================================
#   Extreme - PoLiX SaaS  |  .htaccess  v3.4
# =============================================================

Options -Indexes
RewriteEngine On

# Segurança
RewriteRule ^config\.php$  - [F,L]
RewriteRule ^.*\.sql$      - [F,L]

# Arquivos e diretórios físicos passam direto
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Tudo passa pelo dispatcher index.php
RewriteRule ^ index.php [QSA,L]
